footer {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 10px;
}

.rights a {
  text-decoration: none;
  color: $underline;
  transition: 0.3s ease-in-out;
  &:hover {
    color: $lightBlack;
  }
}
