@import "../base/typography";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}
a {
  -webkit-tap-highlight-color: transparent;
}
.burger {
  -webkit-tap-highlight-color: transparent;
}
@mixin mobileSpace() {
  margin-left: 25px;
  margin-right: 25px;
}
.about-section {
  padding-bottom: 40px;
}
.col-3-container {
  position: relative;
  z-index: -1;
}

@media only screen and (max-width: 1100px) {
  .wrapper {
    @include mobileSpace();
  }

  .col-1 {
    @include mobileSpace();
  }
  .col-2 {
    @include mobileSpace();
  }
  .col-3 {
    @include mobileSpace();
  }
  .col-4 {
    @include mobileSpace();
  }
  .col-5 {
    @include mobileSpace();
  }
  .col-6 {
    @include mobileSpace();
  }
  .col-1 h1 {
    font-size: 8vw;
  }

  .col-8 {
    @include mobileSpace();
  }
  .proj {
    @include mobileSpace();
  }
}
@media only screen and (max-width: 600px) {
  .col-1 h1 {
    font-size: 48px;
  }
}
