.btn {
  display: block;
  margin-top: 2.6rem !important;
  text-decoration: none;

  margin-top: 20px;
  font-size: 17px;

  color: $black;
  width: 200px;
  padding: 13px 25px;

  border: 1px solid $lightBlack;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: $blueLight;
    z-index: -1;
    transition: 0.7s ease;
  }
}

.btn1 {
  transition: 0.2s ease-in-out;
  &:before {
    width: 0;
    height: 100%;
  }
  &:hover {
    color: $clearWhite !important;
    border: 1px solid $blueLight;
    &:before {
      width: 100%;
    }
  }
}
.btn1 i {
  position: relative;
  left: 15px;
  font-size: 18px;
}
.cv-button a {
  background-color: $clearWhite !important;
  color: $black !important;
  border: 1px solid $black !important;
  width: 200px;
}
.button-box a {
  transition: 0.3s ease-out;
  background-color: $lightBlack;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: $clearWhite;
  padding: 15px 30px;
  &:hover {
    background-color: rgb(83, 83, 83) !important;
  }
}
.button-box {
  margin-top: 2.6rem;
  width: 185px;
  margin-bottom: 1em;
  font-size: 17px;
}

.show-box {
  text-align: center;

  cursor: pointer;
  border: solid 1px $black;
  width: 90px;
  padding: 10px;
  margin: 25px auto;
  font-size: 15px;
  transition: 0.3s ease-out;
  &:hover {
    background: $lightBlack;
    color: $clearWhite;
  }
}
.project-links .demo-button {
  transition: 0.2s ease-out;
  &:hover {
    background-color: $lighterGrey;
    border: none;
  }
}
.source-button i {
  position: relative;
  left: 10px;
}
.project-links {
  margin-top: 15px;
  display: flex;

  justify-content: space-between;
  max-width: 375px;
  height: auto width auto;
}
.project-links a {
  padding: 7px 25px;
  border-radius: 3px;
  text-decoration: none;
  color: black;
}
.project-links a + .source-button {
  background-color: $lightBlack !important;
  color: $clearWhite;
  transition: 0.2s ease-in;
  &:hover {
    background-color: $lighterBlack !important;
  }
}

.demo-button i {
  position: relative;
  left: 10px;
}
