@import "../components/designBoxes";
@mixin content() {
  max-width: 1200px;
  margin: 0 auto;
}
@mixin displayFlex($display) {
  display: $display;
  flex: 1 1;
  width: 100%;
}
@mixin fillDiv($size) {
  margin-top: $size;
}

.wrapper {
  @include content();
}

section {
  @include content();
  @include displayFlex(flex);
}

.col-1 {
  font-size: 40px;
  margin-top: 50px;

  width: 100%;
}
.col-1-subtitle h1 {
  font-size: 70px;
  background-image: linear-gradient(
    76.9deg,
    rgb(255, 73, 73) 27.2%,
    rgb(226, 61, 96) 79.9%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.col-1-title h3 {
  font-size: 2.3rem;
  color: $devtitle;
  margin-left: 6px;
}
.col-1-description {
  margin-top: 15px;
}
.col-1-description p {
  font-size: 17px;
}
.col-1-description p:first-child {
  padding-bottom: 5px;
}
.col-2 {
  font-size: 40px;
  width: 100%;

  text-align: left;
  @include fillDiv(0px);
  position: relative;
}
.col-2 img {
  width: 100%;
  max-width: 435px;
  margin: 50px auto;
}
.button-box {
  margin-top: 2.6rem;
  width: 185px;
  margin-bottom: 1em;
  font-size: 17px;
}
.side-links-box {
  margin-top: 160px;
}

.col-3-title {
  margin-top: 10px;
  margin-bottom: 20px;
}
.col-3 {
  width: 100%;

  @include fillDiv(75px);
}

.col-3-title h1 {
  text-align: left;
  font-size: 38px;
  padding-left: 20px;
  color: $black;
  border-left: 5px solid $black;
  width: fit-content;
  margin-bottom: 10px;
}
.col-3-description p {
  color: $black;
  max-width: 480px;
  font-size: 17px;
  text-align: justify;
}
.col-3-description b {
  color: rgb(245, 56, 71);
}
.col-4 {
  width: 100%;

  @include fillDiv(75px);
}
.image-box img {
  width: 80%;
  max-width: 600px;
  margin-top: 60px;
}

.col-5 {
  width: 100%;
  height: 100%;
}
.col-5 img {
  width: 100%;
  max-width: 500px;
}
.col-6 {
  width: 100%;
}

.title-project h1 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  font-size: 25px;
  width: fit-content;
}
.title-project h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.project-description {
  max-width: 525px;
}

.bullets li {
  position: relative;
  left: 15px;
  &::before {
    content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: red; /* Change the color */

    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }
}

.projects {
  border-bottom: 1px solid rgb(201, 201, 201);
  padding-bottom: 15px;
}

.col-6 {
  margin-top: 60px;
}

.project-description {
  margin-top: 10px;
  margin-bottom: 10px;
}

.project-stack h4 {
  margin-bottom: 6px !important;
}
.techs-container {
  display: flex;
}
.bullets {
  margin-right: 25px;
}
.overview-box {
  margin-bottom: 10px;
}
.next-pages {
  margin-top: 20px;
}
.container {
  background: linear-gradient(to right, $clearWhite 50%, $lightBlack 50%);
}
@media screen and (max-width: 768px) {
  section {
    flex-wrap: wrap;
  }
  .col-1-subtitle h1 {
    font-size: 3.4rem;
  }
  .col-1-title h3,
  span {
    font-size: 2rem;
    color: $devtitle;
    margin-left: 2px;
  }
  .col-1-title h3 {
    font-size: 2.4rem;
  }
  .col-1 {
    margin-top: 10px;
  }
  .col-4 {
    margin-top: 20px;
  }
  .col-4 img {
    width: 100%;
  }
  .col-3-description p {
    max-width: none;
  }
  .col-3 {
    @include fillDiv(0px);
  }
  .container {
    background: none;
  }
}
@media screen and (max-width: 1040px) {
}
